<% layout("layouts/boilerplate.ejs") -%>
<body>
  <div class="container mt-4">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= found._id %>/edit?_method=PUT"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          value="<%= found.title %>"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          id="description">
          <%= found.description %>
        </textarea>
      </div>

      <p>Original Image</p>
      <div class="mb-3">
        <img src="<%= originalUrl %>" alt="listing_image">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          id="image"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          class="form-control"
          value="<%= found.price %>"
          id="price"
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= found.location %>"
          id="location"
        />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          id="country"
          type="text"
          name="listing[country]"
          class="form-control"
          value="<%= found.country %>"
        />
      </div>

      <button type="submit" class="btn btn-dark add-btn">Edit</button>
    </form>
  </div>
</body>
